/* Fonts */
@font-face {
    font-family: "AvenirLTStd-Light";
    src: url('../font/avenir-light/AvenirLTStd-Light.eot') 
        format('embedded-opentype'),
    url('../font/avenir-light/AvenirLTStd-Light.otf')  
        format('opentype'),
    url('../font/avenir-light/AvenirLTStd-Light.woff') 
        format('woff'),
    url('../font/avenir-light/AvenirLTStd-Light.ttf')  
        format('truetype'),
    url('../font/avenir-light/AvenirLTStd-Light.svg') 
        format('svg');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: "FuturaBT-Light";
    src: url('../font/futura/FuturaBT-Light.eot') 
        format('embedded-opentype'),
    url('../font/futura/FuturaBT-Light.otf')  
        format('opentype'),
    url('../font/futura/FuturaBT-Light.woff') 
        format('woff'),
    url('../font/futura/FuturaBT-Light.ttf')  
        format('truetype'),
    url('../font/futura/FuturaBT-Light.svg') 
        format('svg');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: "Worksans-Light";
    src: url('../font/worksans/WorkSans-Light.eot') 
        format('embedded-opentype'),
    url('../font/worksans/WorkSans-Light.otf')  
        format('opentype'),
    url('../font/worksans/WorkSans-Light.woff') 
        format('woff'),
    url('../font/worksans/WorkSans-Light.ttf')  
        format('truetype'),
    url('../font/worksans/WorkSans-Light.svg') 
        format('svg');
    font-weight: normal;
    font-style: normal;
}  

/* Navbar */
.nav-center ul {
    text-align: center; 
}

.nav-center ul li {
    display: inline;
    float: none;
}

.nav-center ul li a {
    display: inline-block;
    font-size: 15px;
    font-family: "AvenirLTStd-Light";
}

.nav-text{
    color: grey;
}

/* Views */
#homepage {
    display: none;
    background-image: url("../img/home/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    height: 100vh;
    width: 100%;
}

#about {
    background-color: #999997;
    height: 100vh;
    width: 100%;
}

#contact {
    background-color: #999997;
    color: white;
    height: 100vh;
    width: 100%;
}

.portfolio {
    background-color: #999997;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.md-dark { color: rgba(0, 0, 0, 0.54); }

html, body, .my-wrapper {
    height: 100%;
    min-height: 100vh;
}

#splash {
    margin-left: 55%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: "FuturaBT-Light";
    text-align: center;
    color: white;
    letter-spacing: 10px;
    font-weight: 100;
}

@media only screen and (max-width: 815px) {
    #splash {
        margin-left: 2%;
        position: relative;
        top: 60%;
        transform: translateY(-50%);
        font-family: "FuturaBT-Light";
        text-align: center;
        color: white;
    }    
}

.header {
    color: black;
    font-weight: 300;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 7px;
}

.container {
    margin: 2% auto 2%;
    padding: 1%;
}

#contact label {
    color: black;
}

/* Portfolio */
.grid {
    max-width: 80%;
    margin: 2% auto 2%;
}

.audition .grid,
.design .grid {
    max-width: 60%;
}

.portrait .grid {
    max-width: 70%;
}

@media only screen and (max-width: 815px) {
    .grid,
    .audition .grid,
    .design .grid,
    .portrait .grid {
        max-width: 100%;
        margin: 2% auto 2%;
    }
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item,
.grid-sizer {
    width: 50%;
}

.portrait .grid-item,
.portrait .grid-sizer {
    width: 33.333%;
}

.grid-item {
    display: none;
    float: left;
    padding: 5px; 
}

.grid-item img {
    display: block;
    width: 100%;
    border-radius: 6px;
}

.grid-item:hover {
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;   
}

/* CREDIT TO W3SCHOOLS for the modal CSS*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-height: 100% !important; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 815px){
    .modal-content {
        width: 100%;
    }
} 

/* About page */
.separation {
    display: grid;
    grid-template-columns: repeat(2, 50%); 
    margin: 0 auto;
}

@media only screen and (max-width: 912px){
    .separation {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 50%);
        align-items: center;
        justify-items: center;
        margin: 0 auto;
    }
}

.section {
    margin-top: 4%;
    width: 95%;
}

.section h2 {
    font-family: Worksans-Light;
    text-align: center;
}

.section p {
    font-family: FuturaBT-Light;
    text-align: center;
}
