{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<div id="about">
    <div class="separation animated fadeIn">
        <div class="section">
            <!-- <img src="{{ url_for('static', filename='img/' ) }}" alt=""> -->
            <p>FILLER</p>
        </div>
        <div class="section">
            <div class="line"></div>
            <p>
                Mariah Gravelin is a photographer and artist based in New York City. 
                She grew up in a small town in Southeastern Connecticut and moved to New York at 17. 
                Her interest in and passion for photography began at a young age with her best friend’s 
                camera, and grew even more when she was passed down her grandmother’s old film camera 
                (she still loves to shoot with it!) In 2018, she received her BFA from the Ailey School 
                and Fordham University, where she also minored in Visual Arts, and got to explore and
                expand her portfolio amongst the dance community. She has photographed artists from the 
                Alvin Ailey American Dance Theater, the Ailey School, New York City Ballet, Pennsylvania 
                Ballet, Jessica Lang Dance, Buglisi Dance Theater, Graham II, and Peridance Capezio Dance 
                Company. Her work has appeared in Pointe Magazine (2018) and Aspire Magazine (2017). 
                <br><br>
                Mariah is also a dancer with the Limon Dance Company in NYC, and enjoys every moment she 
                gets to spend with the dancers, artists, and the people she meets. Alongside dance photography, 
                she has developed a great interest in portraiture and uses her photography as a medium to tell 
                stories and capture the beauty she sees around her.         
            </p>
            <div class="contact-info">
                <div>
                    <a href="mailto:mgravelin96@gmail.com?subject=Hello">mgravelin96@gmail.com</a>
                </div>
                <div>
                    <a target="_blank" href="https://www.instagram.com/mariahgravelinphoto">
                        <i class="fa fa-instagram" style="font-size:32px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}