{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<div id="about">
    <div class="separation animated fadeIn">
        <div class="section">
            <img src="{{ url_for('static', filename='img/' )}}" alt="">
            <p>FILLER</p>
        </div>
        <div class="section box">
            <h2 class="header" style="letter-spacing: 7px;">ABOUT ME</h2>
            <p>
                
            </p>
        </div>
    </div>
</div>

{% endblock %}