{% extends "base.html" %}
{% block title %}Portfolio - Audition{% endblock %}
{% block content %}

<div class="portfolio audition">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/audition/1.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/audition/2.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/audition/3.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/audition/4.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/audition/5.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/audition/6.jpg') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}