{% extends "base.html" %}
{% block title %}Portfolio - Audition{% endblock %}
{% block content %}

<div class="portfolio">
    <div class="grid" style="max-width: 60%">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/audition/1.jpg') }}">
                <img src="{{ url_for('static', filename='img/audition/1.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/audition/2.jpg') }}">
                <img src="{{ url_for('static', filename='img/audition/2.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/audition/3.jpg') }}">
                <img src="{{ url_for('static', filename='img/audition/3.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/audition/4.jpg') }}">
                <img src="{{ url_for('static', filename='img/audition/4.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/audition/5.jpg') }}">
                <img src="{{ url_for('static', filename='img/audition/5.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/audition/6.jpg') }}">
                <img src="{{ url_for('static', filename='img/audition/6.jpg') }}" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock %}