{% extends "base.html" %}
{% block title %}Portfolio - Dance{% endblock %}
{% block content %}

<div class="portfolio dance">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/dance/1.jpg') }}">
                <img src="{{ url_for('static', filename='img/dance/1.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/dance/2.jpg') }}">
                <img src="{{ url_for('static', filename='img/dance/2.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/dance/3.jpg') }}">
                <img src="{{ url_for('static', filename='img/dance/3.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/dance/4.jpg') }}">
                <img src="{{ url_for('static', filename='img/dance/4.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/dance/5.jpg') }}">
                <img src="{{ url_for('static', filename='img/dance/5.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/dance/6.jpg') }}">
                <img src="{{ url_for('static', filename='img/dance/6.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/dance/7.jpg') }}">
                <img src="{{ url_for('static', filename='img/dance/7.jpg') }}" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock %}