{% extends "base.html" %}
{% block title %}Portfolio - Dance{% endblock %}
{% block content %}

<div class="portfolio">
    <div id="grid">
        <div class="photo1 item">
            <img src="{{ url_for('static', filename='img/dance/JVCH004.jpg') }}" alt="">
        </div>
        <div class="photo2 item">
            <img src="{{ url_for('static', filename='img/dance/JVCH002-4.jpg') }}" alt="">
        </div>
        <div class="photo3 item">
            <img src="{{ url_for('static', filename='img/dance/JVCH002-2.jpg') }}" alt="">
        </div>
        <div class="photo4 item">
            <img src="{{ url_for('static', filename='img/dance/JVCH005.jpg') }}" alt="">
        </div>
        <div class="photo5 item">
            <img src="{{ url_for('static', filename='img/dance/JVCH002.jpg') }}" alt="">
        </div>
        <div class="photo6 item">
            <img src="{{ url_for('static', filename='img/dance/JVCH003.jpg') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}