{% extends "base.html" %}
{% block title %}Portfolio - Dance{% endblock %}
{% block content %}

<div class="portfolio dance">
    <div class="grid is-invisible">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/dance/1.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/dance/2.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/dance/3.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/dance/4.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/dance/5.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/dance/6.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/dance/7.jpg" alt="">
        </div>
    </div>
</div>

{% endblock %}