{% extends "base.html" %}
{% block title %}Portfolio - Interior Design{% endblock %}
{% block content %}

<div class="portfolio design">
    <div class="grid is-invisible">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/design/1.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/design/2.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/design/3.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/design/4.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/design/5.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/design/6.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/design/7.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/design/8.jpg" alt="">
        </div>
    </div>
</div>

{% endblock %}