{% extends "base.html" %}
{% block title %}Portfolio - Portraits{% endblock %}
{% block content %}

<div class="portfolio portrait">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/1.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/1.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/2.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/2.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/3.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/3.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/4.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/4.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/5.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/5.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/6.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/6.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/7.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/7.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/8.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/8.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/9.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/9.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/11.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/11.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/portrait/10.jpg') }}">
                <img src="{{ url_for('static', filename='img/portrait/10.jpg') }}" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock %}