{% extends "base.html" %}
{% block title %}Mariah Gravelin | Photographer - Portfolio/Portrait{% endblock %}
{% block content %}

<div class="portfolio portrait">
    <div class="grid is-invisible">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/1.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/3.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/4.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/5.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/6.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/7.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/8.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/9.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/11.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/portrait/10.jpg" alt="">
        </div>
    </div>
</div>

{% endblock %}