{% extends "base.html" %}
{% block title %}Portfolio - Portraits{% endblock %}
{% block content %}

<div class="portfolio portrait">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/1.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/3.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/4.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/5.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/6.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/7.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/8.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/9.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/11.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='img/portrait/10.jpg') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}