{% extends "base.html" %}
{% block title %}Portfolio - Street{% endblock %}
{% block content %}

<div class="portfolio street">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/1.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/1.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/2.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/2.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/3.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/3.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/4.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/4.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/5.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/5.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/6.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/6.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/7.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/7.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/8.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/8.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/9.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/9.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/10.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/10.jpg') }}" alt="">
            </a>
        </div>
        <div class="grid-item">
            <a target="_blank" href="{{ url_for('static', filename='img/street/11.jpg') }}">
                <img src="{{ url_for('static', filename='img/street/11.jpg') }}" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock %}