{% extends "base.html" %}
{% block title %}Portfolio - Street{% endblock %}
{% block content %}

<div class="portfolio street">
    <div class="grid is-invisible">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/1.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/2.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/3.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/4.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/5.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/6.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/7.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/8.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/9.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/10.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="https://mariahgravelin-assets.s3.us-east-2.amazonaws.com/static/img/street/11.jpg" alt="">
        </div>
    </div>
</div>

{% endblock %}